{% block main %}

<head>

    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/map.css')}}">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lineChart.js') }}"></script>

    <!-- Load Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

</head>

<body>
    <p style="text-align:center;"><img src="{{ url_for('static', filename='files/misc/globe.gif') }}" id="progress"></p>
    <div id="map"></div>
    <div class="row">
        <div class="column">
            <div id="mapdiv"> </div>
        </div>
    </div>
</body>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-fullHash.js') }}"></script>
<script> mapid="{{ mapid }}"; </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/visualization.js') }}"></script>

{% endblock %}